@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.dotedbg{
  background: radial-gradient(rgba(255,255,255,0.05) 10%, transparent 10%);
  background-position: 0% 0%;
  background-size: 4.73vmin 5vmin;

}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 0;
}

.dotted-bg {
  background-image: radial-gradient(rgba(36, 38, 39, .5) .5px,#242627 1px);
  background-size: 10px 10px;
  backdrop-filter: blur(3px);
}

.outlinetext:hover{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}